<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authentication</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <h3>Welcome to EDC Authentication System</h3>
    
    {% if user.is_authenticated %}
      <h1>Welcome, {{ user.first_name }} {{ user.last_name }}!</h1>
      <a href="http://localhost:8000/signout"> Signout </a>
    {% else %}
      <h1>Welcome to the index page!</h1>
    {% endif %}
    <script src="index.js"></script>

  </body>
</html>
